{{ if len .Params | eq 3 }}

<iframe src="https://open.spotify.com/embed/{{ .Get 1 }}/{{ .Get 0 }}?utm_source=generator&theme=0" width="100%" height="{{ .Get 2 }}" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

{{ else }}

<iframe src="https://open.spotify.com/embed/{{ .Get 1 }}/{{ .Get 0 }}?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

{{ end }}



<!-- second argument can be episode, show, playlist -->
<!-- third argument is height 152 is default small, 380 default Normal, but can be anything  -->

